 <div class="user-details">
  <h1> What I do </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Libraries</h2>
      <img src="{{site.url}}/assets/img/tensorflow.png">
      <img src="{{site.url}}/assets/img/opencv.png">
      <img src="{{site.url}}/assets/img/scipy.png">
      <p>I've worked with TensorFlow & Keras, OpenCV, PyTorch and MATLAB Image Processing Toolbox</p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <img src="{{site.url}}/assets/img/matlab.png">
      <p>I have hands-on experience with Python, C++ & Matlab, thanks to the projects I am a part of; my strongest lang's being Python & C++.</p>
    </div>
    <div class="tech">
      <h2>Software</h2>
      <img src="{{site.url}}/assets/img/mevis.png">
      <img src="{{site.url}}/assets/img/3dslicer.png">
      <img src="{{site.url}}/assets/img/paraview.png">
      <p>I've also worked with visualisation software like MeVis Lab, 3D Slicer & ParaView for visualising various medical image formats.</p>
    </div>
</div>
