<div class="user-details">
  <h1> Featured projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Stereoendoscopy" src="{{ "/assets/img/stereopair.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Stereoendoscopy </h3>
    <ul>
      <li> Stereo-reconstruction, OpenCV, C++</li>
    </ul>
    <p>Stereoendoscopy is a promising new technology that enables surgeons to look inside the human body in 3D, through the technique of stereo-reconstruction. </p>
    <a class="project-link" href="https://github.com/lalithnag/stereoendoscopy" target="_blank">More <i class="devicon-github-plain colored"></i> </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Mitral valve" src="{{ "/assets/img/mitral.gif" | prepend: site.baseurl }}" />
    <a class="link" href="http://biorobotics.harvard.edu/schneider.html" target="_blank">Source</a>
  </div>
  <div class="contents-right">
    <h3> Landmark Detection in Echocardiography </h3>
    <ul>
      <li> Deep Learning, TensorFlow, 3D U-Nets, Python</li>
    </ul>
    <p>A malfunction of the mitral valve can cause many heart disorders and valvular diseases. Automatic segmentation of the mitral valve using CNN's has high impact on surgical outcomes. </p>
    <a class="project-link" href="https://github.com/lalithnag/landmark-detection" target="_blank">More <i class="devicon-github-plain colored"></i></a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="UroNav" src="{{ "/assets/img/fusionbiopsy.jpg" | prepend: site.baseurl }}" />
    <a class="link" href="https://goo.gl/Bwx9n4" target="_blank">Source</a>
  </div>
  <div class="contents">
    <h3> MR-US Fusion Biopsy </h3>
    <ul>
      <li> Medical Visualisation, MeVis Lab (+scripting), SimpleITK (Python), 3D Slicer</li>
    </ul>
    <p>MR-US Fusion Biopsy is an intra-operative procedure that requires elastic deformable multi-modal registration between MRI and US volume images. This project focuses on prostate biopsy registration using MDL (MeVis Lab Definition Language) & 3D Slicer. </p>
    <a class="project-link" href="https://github.com/lalithnag/mr-us-fusion-biopsy" target="_blank">More <i class="devicon-github-plain colored"></i></a>
  </div>
